#container{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    /* max-width: 100%; */
    border: 2px solid black;
    background-color: rgb(27, 215, 228);
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.grid-square{
    width: 20px;
    heigth: 20px;
    /* border: 1px solid black; */
}